In [31]:
import pandas as pd
import arrow

In [42]:
# Ler o arquivo CSV com codificação especificada
df = pd.read_csv('dados_splink_test.csv', encoding='latin1', sep = ';')

# Exibir as primeiras linhas para verificar se os dados foram lidos corretamente
print(df.head())

   COD_NOTI                   NM_PACIENTE                         NM_MAE  \
0      2188  FRANCISCA DAS CHAGAS RIBEIRO               OTACILDA RIBEIRO
1      2175          PAULA TINOCO MARINHO  MARIA GEOVANA PINHEIRO TINOCO
2      2145     FRANCIANE CORDEIRO MACIEL  MARIA GORETE DE LIMA MONTEIRO
3      2138      TAINA DOS SANTOS BARBOSA      JOAQUINA LOPES DOS SANTOS
4       454   FRANCINEIA ALMEIDA DE SOUZA        TEREZA ALMEIDA DE SOUZA

   DT_NASCI
0  01/09/50
1  28/03/84
2  25/02/91
3  02/11/99
4  18/06/06

In [43]:
df[['primeiro_nome', 'sobrenome_completo']] = df['NM_PACIENTE'].str.split(' ', n=1, expand=True)

In [44]:
df

,COD_NOTI,NM_PACIENTE,NM_MAE,DT_NASCI,primeiro_nome,sobrenome_completo
0,2188,FRANCISCA DAS CHAGAS RIBEIRO,OTACILDA RIBEIRO,01/09/50,FRANCISCA,DAS CHAGAS RIBEIRO
1,2175,PAULA TINOCO MARINHO,MARIA GEOVANA PINHEIRO TINOCO,28/03/84,PAULA,TINOCO MARINHO
2,2145,FRANCIANE CORDEIRO MACIEL,MARIA GORETE DE LIMA MONTEIRO,25/02/91,FRANCIANE,CORDEIRO MACIEL
3,2138,TAINA DOS SANTOS BARBOSA,JOAQUINA LOPES DOS SANTOS,02/11/99,TAINA,DOS SANTOS BARBOSA
4,454,FRANCINEIA ALMEIDA DE SOUZA,TEREZA ALMEIDA DE SOUZA,18/06/06,FRANCINEIA,ALMEIDA DE SOUZA
...,...,...,...,...,...,...
720404,36,JEU OLIVEIRA ROLIM,RAIMUNDA ROLIM,15/12/81,JEU,OLIVEIRA ROLIM
720405,7,VANDERSON COELHO ALMEIDA,OTILIA COELHO ALMEIDA,10/07/88,VANDERSON,COELHO ALMEIDA
720406,2,ISMAEL MENDES DO NASCIMENTE,MARIA MENDES,01/01/00,ISMAEL,MENDES DO NASCIMENTE
720407,356,NATALIA P.DE SOUZA,GILDA N.PEREIRA,26/12/97,NATALIA,P.DE SOUZA
720408,171,RONALDO DOS SANTOS GOMES,GELCIANE FERREIRA DOS SANTOS,19/12/16,RONALDO,DOS SANTOS GOMES